

body{
   background-color: #000000;
   padding: 0;
   margin: 0;
   color: #ffffff ;
}

h1{
    font-family: "Rajdhani";
    
}
header{
    background-image: url("Illustrations/Bathome1.png");
    height: 800px;
    width: 100vw;

}